.todoContainer {
  background-color: #f8f8f8;
  border-radius: 12px;
  padding: 10px;
  width: 4000px;
  height: auto;
  margin: 40px auto;
  text-align: center;
  max-width: 400px;
  color: #000201;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.input-area {
  margin-bottom: 20px;
}
button {
  margin: 5px;
  padding: 8px 12px;
  font-size: 14px;
  border: none;
  background-color: #007bff;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  opacity: 0.8;
}
.input {
  padding: 8px;
  width: 70%;
  font-size: 16px;
}
.input-area {
  display: flex;
  gap: 10px;
}
.input-area input {
  flex: 1;
  padding: 8px;

  border: 1px solid #ccc;
  border-radius: 6px;
}
.input-area button {
  padding: 8px 16px;
  background-color: hsl(210, 100%, 0%);
  color: hwb(0 100% 0%);
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.task-list li {
  background: #000201;
  padding: 10px;
  margin-bottom: 6px;
  border-radius: 6px;
}
.task-list li button {
  float: right;
}

.task {
  padding: 20px;
  font-size: 20px;
  margin-bottom: 15px;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 8px 0;
  background-color: #f9f9f9;
  padding: 8px 12px;
  border-radius: 6px;
}
li span {
  margin-left: 8px;
}
/* .task-left {
  display: flex;
  align-items: center;
  margin-left: 8px 0;
} */
