.todoContainer {
  background-color: #f8f8f8;
  border-radius: 12px;
  padding: 20px;
  width: 350px;
  height: 100vh;
  margin: 40px auto;
  text-align: center;
  max-width: 400px;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
button {
  margin: 5px;
  padding: 8px 12px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  opacity: 0.8;
}
.input {
  padding: 8px;
  width: 70%;
  font-size: 16px;
}
.input-area {
  display: flex;
  gap: 10px;
}
.input-area input {
  flex: 1;
  padding: 8px;
  height: 100vh;
  border: 1px solid #ccc;
  border-radius: 6px;
}
.input-area button {
  padding: 8px 16px;
  background-color: #456146;
  color: rgb(6, 0, 0);
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.task-list li {
  background: #000201;
  padding: 10px;
  margin-bottom: 6px;
  border-radius: 6px;
}
.task-list li button {
  float: right;
}

.task {
  padding: 20px;
  font-size: 20px;
  margin-bottom: 15px;
}
